
@{
    ViewBag.Title = "Starred";
}

<h2>Starred</h2>
@model bool?

<span>
    <i class="glyphicon @(Model ? "glyphicon-star" : "glyphicon-star-empty")"
       data-toggle="star"
       data-id="@ViewBag.Id"></i>
</span>
