body {
    background-image: url(https://images.unsplash.com/photo-1503891617560-5b8c2e28cbf6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-size: 1.5rem;
    font-weight: 500;
}

.body-content {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2rem 2rem 2rem 2rem;
    border-radius: 25px;
    box-shadow: 10px 20px 60px;
    margin-top: 5rem;
    width: 90%;
}
.navbar-brand {
    display: inline-block;
    padding-top: -5rem;
    padding-bottom: 5rem;
    margin-right: 6rem;
    font-size: 3.8rem;
    font-weight: 800;
    line-height: inherit;
    white-space: nowrap;
    padding-left: -30rem;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar-inverse .navbar-brand{
    color:blanchedalmond;
}
input, select, textarea {
    max-width: 280px;
    box-shadow:1px 1px 1px;
}

h2 {
    font-size: 3.5rem;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    color:darkslategray;
}
h3{
    color:maroon;
}

div.col-md-6{
    border-radius:10px;
    padding:1rem 1rem 1rem 1rem;
}

footer{
    display:table;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

a{
    color:maroon;
}
.dl-horizontal dt {
    padding-bottom: 1.2rem;
    font-size: 1.5rem;
}
p{
    font-weight:600;
}

.dl-horizontal {
    margin-top: 0;
    margin-bottom: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 1px 1px 20px;
    padding: 2rem 2rem 2rem 2rem;
}

table {
    background-color: whitesmoke;
    margin-top: 2rem;
    margin-bottom:2rem;
    border-radius: 10px;
    box-shadow: 1px 1px 20px;
    padding: 2rem 2rem 2rem 2rem;
    border-collapse:inherit;
    border-top:groove;
}

th{
    font-weight:700;
    font-size:1.5rem;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {

}

