body {
    background-image: url(https://images.unsplash.com/photo-1503891617560-5b8c2e28cbf6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-size: 1.5rem;
    font-weight: 600;
}

.body-content {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2rem 2rem 2rem 2rem;
    border-radius: 25px;
    margin-top:5rem;
}
.navbar-brand {
    display: inline-block;
    padding-top: -5rem;
    padding-bottom: 5rem;
    margin-right: 6rem;
    font-size: 3.8rem;
    font-weight: 800;
    line-height: inherit;
    white-space: nowrap;
    padding-left: -30rem;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 3.5rem;
    text-align:center;
    text-transform:uppercase;
}

footer{
    display:table;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

a{
}
.dl-horizontal dt {
    padding-bottom:1.2rem;
}

