@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>THE SANGHA is a meditation app without all of the paywalls of traditional meditation apps! Harnessing the extensive library of dharma talks and guided meditations from Dharmaseed.org, users of this app will be able to search for specific talks, teachers, past retreats, or specific meditation centers. Once the user finds what they want to listen to, just press play! The app also offers a directory of strictly guided meditations, as well as a simple meditation tracker with a timer for silent meditations. Users will be able to rate specific retreats and centers they have attended, as well as the ability to Star specific talks they would like to add to their “favorites” list. SANGHA caters to meditation lovers searching for a way to interact seamlessly with the tens of thousands of open-sourced talks and guided meditations available, as well as track their own practice, all in one app, for free!  Our developer created this application based on an interest in the practice of meditation and the idea of implementing a meditation app without all the restrictions. </p>
