@*@{
    ViewBag.Title = "Contact";
}*@
@*<h2>@ViewBag.Title.</h2>*@
<h2>@ViewBag.Message</h2>

<address>
    Gordon Mason<br />
    Indianapolis, IN <br/>
    <abbr title="Phone">P:</abbr>
    317.753.8495
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:gmason0702@gmail.comcom">gmason0702@gmail.com</a><br />
    <strong>Dharmaseed:</strong> <a href="https://www.dharmaseed.org">Dharmaseed.org</a>
</address>