@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><medium class="text-muted">Welcome to </medium>The Sangha</h1>
    <blockquote class="blockquote text-right">
        <p class="mb-0"> Delight in meditation and solitude. Compose yourself, be happy. You are a seeker.</p>
        <footer class="blockquote-footer">Buddha</footer>
    </blockquote>
    @*<h1>Breathe In,
    <medium class="text-muted">breathe out</medium></h1>*@
    @*<p class="lead">The Sangha is a free dharma directory and personal meditation application to help you stay on top of your practice. </p>
    <p><a href="https://dharmaseed.org" class="btn btn-primary btn-lg ">Talk Directory &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Dharma Talks</h2>
        <p class="lead">
            An index of talks recorded live during retreats and archived at Dharmaseed.org dating back to the 1970's.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44339/Talk">Talk Directory &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Our Teachers</h2>
        <p class="lead">Check out our dedicated teachers, a short personal bio, the talks they've given, and retreats they've been a part of.</p>
        <p><a class="btn btn-default" href="https://localhost:44339/Teacher">Teacher Directory &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Silent Retreats</h2>
        <p class="lead">Search by retreat and listen to the talks given at each retreat in the details section.</p>
        <p><a class="btn btn-default" href="https://localhost:44339/Retreat">Retreat Directory &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Meditation Centers</h2>
        <p class="lead">Locate retreat centers along with the retreats given in the past and teachers that have spoken there!</p>
        <p><a class="btn btn-default" href="https://localhost:44339/Center">Retreat Directory &raquo;</a></p>
    </div>
</div>